body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    gap: 90px;
    background-color: rgb(84, 116, 118)
}

.title {
    font-weight: bold;
    font-size: 50px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(0, 0, 0);
    height: 400px;
    width: 400px; 
}

.cell {
    border: solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: calc(100% / 16);
    box-sizing: border-box;
    flex-grow: 1;
}

.button-size {
    width: 120px;
    height: 50px;
    background-color: rgb(133, 150, 142);
    font-weight: bold;
    cursor: pointer;
    border: 2px solid rgb(9, 9, 9);
    border-radius: 5px;
}